/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* ================ */
/*   CUSTOM STYLE   */
/* ================ */

a:link, a:visited , a:hover , a:active{
  text-decoration: none;
}

.nav a:link, .nav a:visited , .nav a:hover , .nav a:active{
  font-size: 1em;
  font-family: arial, helvetica, sans-serif;
}

.nav {
  float: right;
}

#foot_right {
  float: right;
  margin: 0 auto;
}

hr {
  color: #fff;
  width: 945px;
}
#subHeading {
  margin-top: -20px;
  color: #999;
}

#footer {
  color: #555;
  font-size: 15px;
}

.hideit {
  display: none;
}

#header {
  font-family: "helvetica";
}

.second {
  float: right;
}

.highlight {
  background: #99ee22;
}

/* POPUP CSS */
 #popupBackground{  
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  height:100%;  
  width:100%;  
  top:0;  
  left:0;  
  background:#000000;  
  border:1px solid #000000;  
  z-index:1;
}  
#popupForm{  
  display:none;
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  height:384px;  
  width:408px;  
  background:#FFFFFF;  
  border:2px solid #cecece;  
  z-index:2; 
  padding:12px;  
  font-size:13px;  
}  
#popupForm h1{  
  text-align:left;  
  color:#6FA5FD;  
  font-size:22px;  
  font-weight:700;  
  border-bottom:1px dotted #D3D3D3;  
  padding-bottom:2px;  
  margin-bottom:20px;  
}  
#popupFormClose{  
  font-size:14px;  
  line-height:14px;  
  right:6px;  
  top:4px;  
  position:absolute;  
  color:#6fa5fd;  
  font-weight:700;  
  display:block; 
  cursor:pointer; 
}